In [4]:
# Assignment-1 Number
#Remember the format() function we used in the last video?? Now pass 145 and ‘o’ in the function and see what it returns. Try to find out which representation it is.

format(145,'o')

'221'

In [5]:
# Assignment-2
# There is a circular pond in a village. This pond has a radius of 84 meters. Can you find the area of the pond? 
#(Bonus: If there is exactly 1.4 liter of water in a square meter, what is the total amount of water in the pond?)

# Hint:
# Circle Area = 3.14 * r**2

radius = 84

area = 3.14 * 84**2

In [8]:
area

22155.84

In [9]:
per_sqt_mtr_watre = 1.4

total_water = area * per_sqt_mtr_watre

print(total_water)

31018.176

In [10]:
# Assignment-3
# If you cross a 490-meter-long street in 7 minutes, then what is your speed in meters per second? Print your answer without any decimal point in it.

# Hint:
# Speed = Distance/Time

time = 7 * 60 # time in seconds
distance = 490

speed = distance/time

speed

1.1666666666666667

In [11]:
myfood = "samosa,jalebi"
myfood

'samosa,jalebi'

In [12]:
'salad' not in myfood

True

In [20]:
#Example to use single quote inside string. Use the combination of double qutoes (") and single quote(')
food_story = "sneha's favorite food is dal and rice"
food_story

"sneha's favorite food is dal and rice"

In [21]:
# To add multi line string use thriple quotes
food_review = ''' I was hungry and looking for restarant.
Found this awesome place.
Will plan for sure to visit this place again.'''

print(food_review)

 I was hungry and looking for restarant.
Found this awesome place.
Will plan for sure to visit this place again.

In [24]:
s = "cost of lipstick is 250 rs."
s

'cost of lipstick is 250 rs.'

In [28]:
s = s.replace("250","150")
s

'cost of lipstick is 150 rs.'

In [30]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [31]:
s.upper()

'COST OF LIPSTICK IS 150 RS.'

In [33]:
'ABC'.lower()

'abc'

In [34]:
'410'.isdigit()

True

In [35]:
s.index('of')

5

In [36]:
text="my age is:"
age=33

In [37]:
str(age)

'33'

In [38]:
text+str(age)+' years'

'my age is:33 years'

In [39]:
f'my age is: {age} years'

'my age is: 33 years'

In [42]:
height=65
weight=50

In [47]:
patient_information= f'Height:{height} cm \nWeight:{weight} kg'
print(patient_information)

Height:65 cm
Weight:50 kg

In [48]:
my_fav_sweet = "I love jalebi, kaju katli and laddu."
"Jalebi" not in my_fav_sweet

True

In [49]:
my_fav_sweet.index("I")

0

In [50]:
string = "CodeBasics"
print(string[:4].replace("Code", "Skill"))

Skill

In [51]:
s="hello python"
s.title()

'Hello Python'