In [3]:
data1="sneha"

In [4]:
data1

'sneha'

In [10]:
pizza=10
samosa=20
icre_crm=10.5

In [11]:
total =pizza+samosa+icre_crm

In [12]:
total

40.5

In [14]:
type(data1)

str

In [15]:
type(pizza)

int

In [18]:
type(total)

float

In [22]:
#Assignment 1 - Variables
#Create a variable named pi and store the value 22/7 in it. Now check the data type of this variable.

pi= 22/7
pi

3.142857142857143

In [23]:
type(pi)

float

In [27]:
#Assignment 2- Variables
#Create a variable called for and assign it a value 4. See what happens and find out the reason behind the behavior that you see.

for= 4

SyntaxError: invalid syntax (2646829127.py, line 4)

In [26]:
#Assignment 3- Variables
#Store the principal amount, rate of interest, and time in different variables and then calculate the Simple Interest for 3 years.

principal_amt = 1000
rate_of_int = 4
time = 2

simple_interest = principal_amt * rate_of_int * time /100
simple_interest

80.0